@tailwind base;
@tailwind components;
@tailwind utilities;

#factionReward{
    -webkit-user-drag: none;
}

/* Estilos para navegadores basados en WebKit */
::-webkit-scrollbar {
    width: 8px;  /* Ancho vertical */
    height: 8px; /* Ancho horizontal */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Color de fondo de la pista */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;     /* Color de la barra de desplazamiento */
    border-radius: 4px;   /* Radio de borde para redondear las esquinas */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;     /* Color de la barra de desplazamiento al pasar el cursor */
  }
  